name: Automated Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    - cron: "30 18 * * *"

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # --- 1. SETUP ---
    - name: Setup Environment
      uses: ./.github/actions/setup-env

    # --- 2. HISTORY ---
    - name: Restore History
      uses: ./.github/actions/restore-history

    # --- 3. TEST ---
    - name: Run Tests
      uses: ./.github/actions/run-tests

    # --- 4. REPORT ---
    - name: Generate Report
      if: always()
      uses: ./.github/actions/generate-report
      with:
        # Pass GitHub context variables as inputs
        github_run_number: ${{ github.run_number }}
        github_run_id: ${{ github.run_id }}
        github_repository: ${{ github.repository }}
        github_repository_owner: ${{ github.repository_owner }}
        github_repo_name: ${{ github.event.repository.name }}

    # --- 5. PUBLISH (Keep in main to handle secrets easily) ---
    - name: Save History to Branch
      if: always()
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: allure-history
        publish_dir: allure-report/history
        destination_dir: history
        keep_files: true

    - name: Upload Single File Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: allure-report/complete.html
        retention-days: 15