name: Automated Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  schedule:
    - cron: "30 18 * * *"   # 12:00 AM IST daily (18:30 UTC)

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # We need Node.js to install the Allure CLI tool
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install allure-combine

    - name: Install Allure CLI
      run: |
        npm install -g allure-commandline

    - name: Install Playwright Browsers
      run: |
        playwright install chromium
        playwright install-deps

    - name: Start FastAPI Backend
      run: |
        nohup uvicorn main:app --app-dir src/backend --host 127.0.0.1 --port 9000 > server.log 2>&1 &
        echo "Waiting for server to start..."
        sleep 5

    - name: Load History from Cache
      uses: actions/cache@v4
      with:
        path: tests/reports/allure-reports/history
        key: allure-history-${{ github.run_number }}
        restore-keys: |
          allure-history-

    - name: Run Tests
      run: |
        # We point to the same dir defined in conftest.py variables
        pytest tests/ --alluredir=tests/reports/allure-results

    - name: Save History to Cache
      uses: actions/cache@v4
      if: always()
      with:
        path: tests/reports/allure-reports/history
        key: allure-history-${{ github.run_number }}

    - name: Combine Allure Report
      if: always()
      run: |
        # conftest.py generates the report into 'tests/reports/allure-reports'
        # We tell allure-combine to process that specific folder
        allure-combine tests/reports/allure-reports

    - name: Upload Single File Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: allure-report-with-history
        path: tests/reports/allure-reports/complete.html
        retention-days: 10